<section>
    <h1> HERE IS THE APP COMPONTENT</h1>
    <p> {{post.title}}</p>
</section>

<section> <h2> FAVORUITE WITH THE OUTPOUT TESTING </h2>
                                        <!--           HERE IS THE OUTPUT-->
<favorite [isSelected]="post.isFavorite" (change)="onFavoriteChanged3($event)"></favorite > <!-- ADD THE $event INTO THE FAVOR --> 
</section>

<br><br><br><br>
<section>
<h1>ANGULAR TUTORIAL</h1>
<!-- <button>CLICK ME TO ADD AN ELEMENT </button> -->
<!-- VS-->
<app-item-output (newItemEvent)="addItem($event)"></app-item-output>
<ul >
    <li *ngFor="let item of items">{{item}}</li>
</ul>

</section>

<br>
<br>
<br>
<app-favc2></app-favc2>
        



<!-- THIS IS NOT ALLOWED IT NEEDS AN ALLIAS AKA PROPER NAME
    <favorite [is-Favorite]="post.isFavorite"  onclick="onFavoriteChange()"> {{post.title}}</favorite > -->